<div class="page-wrapper container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

    <div class="shop-col" fxFlex="70%">

        <h3>Add a product to the basket</h3>

        <div id="products" fxLayout="row wrap" fxLayoutGap="16px">

            <mat-card *ngFor="let product of products; index as i"
                fxFlex="calc(50% - 56px)">
                <mat-card-header>
                    <mat-card-title>{{ product.name }}</mat-card-title> 
                </mat-card-header> 
                <div mat-card-image [style.background-image]="'url(assets/img/'+ product.img +')'"></div>  
                <mat-card-content>
                    {{ product.price | currency:currency:true }} per {{ product.grouping }}
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" 
                    class="add-item"
                    (click)="addItem(product)">Add to Basket</button>
                </mat-card-actions>
            </mat-card>

        </div>

    </div>
        
    <div class="shop-col" fxFlex="30%">

        <h3>Basket Gross Total: {{(basket | async).grossTotal | currency:currency:true }}</h3>
        <p>({{itemCount}} items)</p>

        <button  mat-raised-button color="primary" 
            [attr.disabled]="itemCount === 0 ? true : null" 
            [routerLink]="['/basket']">
            View Basket 
            <i class="material-icons">shopping_basket</i>
        </button>
        <button  mat-raised-button color="warn" 
            [attr.disabled]="itemCount === 0 ? true : null"
            (click)="emptyBasket()">
            Empty Basket
            <i class="material-icons">delete_sweep</i>
        </button>

    </div>

</div>