.page-wrapper{

    padding: 0 20px; 

    .shop-col {
        padding: 0 20px;

        .mat-card {
            
            margin: 20px 0;

            .mat-card-image { 
                min-height: 270px;
                overflow-y: hidden; 
                background-size: 100% auto;
            } 
        }

        button {
            width: 100%;
        }
    }
}