.page-wrapper{

    padding: 0 20px; 

    #currency_row {
        
        margin-bottom: 25px;

        mat-select{
            width: 200px;
        }

    }

    ul {

        margin-bottom: 30px;

        li {

            padding: 12px 0;
            list-style: none;
            margin-left: -37px;

            button {
                margin-top: 4px;
                margin-bottom: 10px;
                margin-left: 80px;
            }
        }
    }
}