<div class="page-wrapper">

    <div fxLayout="row wrap" fxLayoutGap="16px">

         <h2>Basket</h2> 

    </div>

    <div fxLayout="row wrap" fxLayoutGap="16px">

        <p>Basket Gross Total: {{(basket | async).grossTotal | currency:currency:true }}</p>

    </div>

    <div fxLayout="row wrap" fxLayoutGap="16px">
        
        {{exchangeRates}}
        <mat-card *ngFor="let ex of exchangeRates; index as i"
            (click)="setCurrency(i)"
            fxFlex="calc(15% - 26px)">
            <mat-card-header>
                <mat-card-title>{{ ex.base }}</mat-card-title> 
            </mat-card-header> 
        </mat-card> 

        <ul>

            <li *ngFor="let item of basketItems; index as i">
                {{ item.quantity }} x {{ item.product.name }} @ {{ item.product.price | currency:currency:true }} = {{ item.subtotal | currency:currency:true }}
                <button mat-raised-button color="warn" 
                    (click)="deleteItem(item.product)">
                    <i class="material-icons">indeterminate_check_box</i> remove item
                </button>
            </li> 

        </ul>

    </div>

    <div fxLayout="row wrap" fxLayoutGap="16px">
    
        <button  mat-raised-button color="warn" 
            [attr.disabled]="itemCount === 0 ? true : null"
            (click)="emptyBasket()">
            Empty Basket
            <i class="material-icons">delete_sweep</i>
        </button>

        <button  mat-raised-button color="primary" 
            [attr.disabled]="itemCount === 0 ? true : null" 
            [routerLink]="['']">
            Continue Shopping
            <i class="material-icons">forward</i>
        </button>

    </div>

</div>