.page-wrapper{

    padding: 0 20px; 

    ul {

        margin-bottom: 30px;

        li {

            padding: 12px 0;
            list-style: none;
            margin-left: -37px;

            button {
                margin-left: 20px;
            }
        }
    }
}