<div class="page-wrapper">

    <div fxLayout="row wrap" fxLayoutGap="16px">

         <h2>Basket</h2> 

    </div>

    <div fxLayout="row wrap" fxLayoutGap="16px">

        <mat-select name="currencies" [placeholder]="currency" 
            (selectionChange)="setCurrency($event)"> 
            <mat-option value="currency" disabled selected>{{ currency }}</mat-option>
            <mat-option  *ngFor="let c of allCurrencies" [value]="c.name">{{ c.name }}</mat-option>
        </mat-select>  

    </div>

    <div fxLayout="row wrap" fxLayoutGap="16px">

        <h3>Basket Gross Total: {{(basket | async).grossTotal * exchangeRate | currency:currency:true }}</h3>

    </div>

    <div fxLayout="row wrap" fxLayoutGap="16px">

        <ul> 
            
            <li *ngFor="let item of basketItems; index as i">
                {{ item.quantity }} x {{ item.product.name }} 
                @ {{ item.price_exchanged | currency:currency:true }} per {{ item.product.grouping }}
                <br> = {{ item.subtotal | currency:currency:true }}
                <button mat-raised-button color="warn" 
                    (click)="deleteItem(item.product)">
                    <i class="material-icons">indeterminate_check_box</i> remove item
                </button>
            </li> 

        </ul>

    </div>

    <div fxLayout="row wrap" fxLayoutGap="16px">
    
        <button  mat-raised-button color="warn" 
            [attr.disabled]="itemCount === 0 ? true : null"
            (click)="emptyBasket()">
            Empty Basket
            <i class="material-icons">delete_sweep</i>
        </button>

        <button  mat-raised-button color="primary" 
            [attr.disabled]="itemCount === 0 ? true : null" 
            [routerLink]="['']">
            Continue Shopping
            <i class="material-icons">forward</i>
        </button>

    </div>

</div>