<div class="page-wrapper">

    <p>Add a product to the basket</p>

    <div fxLayout="row wrap" fxLayoutGap="16px">

        <mat-card *ngFor="let product of basket; index as i"
            (click)="addItem(i)"
            fxFlex="calc(25% - 26px)">
            <mat-card-header>
                <mat-card-title>{{ product.name }}</mat-card-title> 
            </mat-card-header> 
        </mat-card>

        <ul>

            <li *ngFor="let product of basket; index as i">
                {{ product.quantity }} x {{ product.name }} @ {{ product.price }} 
                <span (click)="deleteItem(i)">Del</span>
            </li>

            <li><strong>Total: {{ total }}</strong></li>

        </ul>

    </div>

</div>