<div class="page-wrapper container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

    <div fxFlex="70%">

        <p>Add a product to the basket</p>

        <div fxLayout="row wrap" fxLayoutGap="16px">

            <mat-card *ngFor="let product of products; index as i"
                (click)="addItem(product)"
                fxFlex="calc(25% - 26px)">
                <mat-card-header>
                    <mat-card-title>{{ product.name }}</mat-card-title> 
                </mat-card-header> 
            </mat-card>

        </div>

    </div>
        
    <div fxFlex="30%">

        <button mat-button [routerLink]="['/basket']">View Basket</button>
        <button mat-button (click)="emptyBasket()">Empty Basket</button>

        <p>Basket Gross Total: {{(basket | async).grossTotal | currency:currency:true }}</p>

    </div>

</div>