<div class="page-wrapper container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

    <div fxFlex="70%">

        <p>Add a product to the basket</p>

        <div fxLayout="row wrap" fxLayoutGap="16px">

            <mat-card *ngFor="let product of products; index as i"
                (click)="addItem(product)"
                fxFlex="calc(25% - 26px)">
                <mat-card-header>
                    <mat-card-title>{{ product.name }}</mat-card-title> 
                </mat-card-header> 
            </mat-card>

        </div>

    </div>
        
    <div fxFlex="30%">

        <h3>Basket Gross Total: {{(basket | async).grossTotal | currency:currency:true }}</h3>
        <p>({{itemCount}} items)</p>

        <button mat-button class="success button large expanded" 
            [attr.disabled]="itemCount === 0 ? true : null" 
            [routerLink]="['/basket']">
            View Basket 
            <i class="material-icons">shopping_basket</i>
        </button>
        <button mat-button class="secondary button small expanded"
            [attr.disabled]="itemCount === 0 ? true : null"
            (click)="emptyBasket()">
            Empty Basket
            <i class="material-icons">delete_sweep</i>
        </button>

    </div>

</div>